<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Compiled and minified CSS. This messes up forms somehow -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Ryan's Python Form</title>
</head>
<body>
    <div class="center-align">
        <a href="http://www.numacorp.com/"><img src="http://www.mca-sask.com/images/Logos/NC_Logo.png" alt="image not found" width = "500"></a>
    </div>
    

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>